
body{
font-family:ebgaramond;
background:#f4f4f4;
}

.top{

background: #333;
background: -moz-linear-gradient(top, #333 0%, #2b2b2b 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #333),color-stop(100%, #2b2b2b));
background: -webkit-linear-gradient(top, #333 0%, #2b2b2b 100%);
background: -o-linear-gradient(top, #333 0%, #2b2b2b 100%);
background: -ms-linear-gradient(top, #333 0%, #2b2b2b 100%);
background: linear-gradient(top, #333 0%, #2b2b2b 100%);
border-bottom: 1px solid #0e0e0e;
white-space: nowrap;
height: 35px;
width: 100%;
}
.logohold{
padding: 30px 0;
background: #7d0101;
background: url(data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJo…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #7d0101 0%, #651110 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #7d0101),color-stop(100%, #651110));
background: -webkit-linear-gradient(top, #7d0101 0%, #651110 100%);
background: -o-linear-gradient(top, #7d0101 0%, #651110 100%);
background: -ms-linear-gradient(top, #7d0101 0%, #651110 100%);
background: linear-gradient(to bottom, #7d0101 0%, #651110 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d0101',endColorstr='#651110',GradientType=0 );
border-top: 1px solid #9e2121;
border-bottom: 1px solid #4a0404;
width: 100%;

}


.markupdiv{
    width: 1100px;
    height: 100%;
    margin: 0 auto;

}
.markupdiv img{
    width: 100%;
    height: 100%;
}
.logotext{
    color:white;
    margin: 0 auto;
    font-family:baskerville;
    font-size:19px;
    width:645px;
}
span.main{
    font-size:39px;
}



footer{
background: #403f3f;
background: -moz-linear-gradient(top, #403f3f 0%, #383737 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #403f3f),color-stop(100%, #383737));
background: -webkit-linear-gradient(top, #403f3f 0%, #383737 100%);
background: -o-linear-gradient(top, #403f3f 0%, #383737 100%);
background: -ms-linear-gradient(top, #403f3f 0%, #383737 100%);
background: linear-gradient(top, #403f3f 0%, #383737 100%);
text-align:center;
}

.row-fluid.footer {
   border-bottom: 1px solid #1b1b1b;
   text-align:center;
}
footer .row-fluid:last-child {
    border-top: 1px solid #4f4e4e;
    padding: 1em 0;
}
/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    width: 66.1%;
}
.span_1_of_3 {
    width: 32.2%;
    text-align:center;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_3_of_3 {
        width: 100%;
    }
    .span_2_of_3 {
        width: 100%;
    }
    .span_1_of_3 {
        width: 100%;
    }
}



.footercol1{
    color: #d3d1d1;
    list-style-type: none;
    font-size: 16px;
    font-family: ebgaramond;
}
.social{
    color: #d3d1d1;
    font-family: ebgaramond;
    width: 500px;
    margin: 0 auto;

}
.social ul{
    -webkit-padding-start: 0px;
}
.social li {
    display: inline-block;
    color: #d3d1d1;
    font-family: ebgaramond;
}
.address{
    color: #d3d1d1;
    font-family: ebgaramond;
}
.copyright{

    width: 500px;
    margin: 0 auto;
}
.ln{
border-radius:3px;
padding:10px;

background:#FFFFFF;
margin:10px 0px;
box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.1);
}
.re{
border-radius:3px;

padding:10px;


background:#FFFFFF;
margin:10px 0px;
box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.1);

}
.clearfix{
clear:both;

}
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.wrapper{
width:1110px;
margin: 0 auto;
overflow: hidden;
}
.header_ne{
font-size: 28px;
letter-spacing: -.5px;
color: #6a0909;
font-family: ebgaramond;
margin: 0;
padding: 0 0 9px;
line-height: 1.1;
font-weight: 700;
}

.list_ne{
color: rgba(20, 20, 18, 0.71);
text-decoration: none;
font-size: 20px;
font-family: ebgaramond;
padding:5px;
white-space:nowrap;overflow:hidden;text-overflow:ellipsis;



}
.ul_for_ne{
text-decoration: none;
list-style-type: none;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

.img
{
margin:0 10px 0 0;
-webkit-box-shadow:0 1px 2px rbga(0,0,0,0.25),0 -1px 1px rgba(113,123,149,0.2);
}
.container_images
{

background-color:#ffffff;
padding:10px;
border:1px solid #ffffff;
box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.1);
margin:0px 0 10px;
text-align:center;
}

.top_stories
{
padding-left:10px;
height:300px;
background-color:#ffffff;
border:1px solid #ffffff;
box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.1);
margin:0 0 15px;
}
.story{
width:350px;
padding:10px 0 0 10px;

}
.top_stories .story
{
display:inline-block;

}
.top_stories .story p
{
width:320px;
text-overflow:ellipsis;
word-wrap:break-word;

}

.aff,.rec{
height:100px;
background-color:#ffffff;
border:1px solid #ffffff;
box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.1);
margin-top:10px;
margin-bottom:10px;
}
.menu{
background: #6a0909;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #6a0909 0%, #651110 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a0909), color-stop(100%,#651110));
background: -webkit-linear-gradient(top, #6a0909 0%,#651110 100%);
background: -o-linear-gradient(top, #6a0909 0%,#651110 100%);
background: -ms-linear-gradient(top, #6a0909 0%,#651110 100%);
background: linear-gradient(to bottom, #6a0909 0%,#651110 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a0909', endColorstr='#651110',GradientType=0 );
border-top: 1px solid #7d1717;
border-bottom: 1px solid #651110;
margin: 0;
white-space: nowrap;
width:100%;
height:50px;
text-align:center;
font-size:16pt;
}
.menu .list
{
padding-top:10px;
/*width:168px;*/
height:50px;
display:inline-block;
margin:0 10px;
color:#fff;
}

.menu .list a{
color:#fff;
text-decoration:none;
}
.menu .list:hover
{
color:#6a0909;
background-color:#fff;
}
.list a:hover{
color:red;
}
.head{
color:#fff;
font-family:ebgaramond;
text-transform:uppercase;
}

}
.t{display:inline-block;height: 31px;}
.t .top-panel-left,
.t .top-panel-right
{display:inline-block;height: 31px;}
.top-panel-right{/*margin-left:40%;*/}
.t .top-panel-left a .tp{
display:inline-block;
color:rgba(255, 255, 255, 0.63);
margin:10px;
}
.t .top-panel-right a .tp{
text-align:right;
display:inline-block;
color:rgba(255, 255, 255, 0.63);
margin:10px;
}
.t .top-panel-right a .tp:hover{
    color: #FFF;
}
.t .top-panel-left a .tp:hover{
color: #FFF;
}
.news_date_space{

    margin-right: 25px;
    display: inline-block;
}
/* write css here for block over content nav + right side division */
.nav-menu-div{
display:inline-block;
float:left;
width:200px;
background:#FFFFFF;

}
.nav-menu-li{
text-decoration:none;
padding:10px;
border-bottom:1px solid #EFEFEF;
}
ul
{
    list-style-type: none;
    padding:0px;
    margin-top:0px;
    margin-bottom:0px;
}
.nav-detail{
margin-left:240px;
width:820px;
padding:16px;
background:#FFFFFF;
margin-top: 24px;
margin-bottom:400px;
}
.nav-menu-div a{
text-shadow: 0px 1px 0px #FFF;
/*border-left: 2px solid #FAFAFB;*/
text-decoration:none;
}
/* end css here for block over content  nav + right side division */

.all{
background: #FFFFFF;
padding: 0px 60px;
min-height: 700px;
}
.each{
    padding: 20px 0px;
    font-size: 19px;
}
.newsh1,.eventsh1{
    color: blue;
    font-size: 24px;

}


/*css for indexing years and months*/
.panel_year_month_index{
    width:100px;
    background-color:#ddd;
    display: inline-block;
    padding-left: 15px;
}
.td_year, .td_month a{
width:80px;
border-bottom: 1px solid black;
text-align: center;
font-size: 18pt;
text-decoration: none;
}

.td_month a{font-size: 14px;}
.td_year a{font-size: 17px;}
.year-month-index{
    display: inline-block;
    float: right;
}
.latest-news{
    display: inline-block;
    float: left;
}

.press-journals{
    font-size: 24px;
    color: blue;
}
.infowebapp{
    margin: 0;
    padding: 0;
}
.logorecog{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: courier new;
    text-align:center;
}
.textmatter{
    text-align: center;
}








.carosel img{
max-height: 400px;
text-align: center;
}








/*Grid System*/
/**/
[class*='col-'] {
  float: left;
}
[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
/**/
/**/
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}
/**/
/**/
.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-1-1{
  width: 100%;
}
.col-1-2{
  width: 50%;
}
/**/
/*Grid System*/
.col1{
  background: blue;
}
.col2{
  background: red;
}
.page-wrap{
  width: 1000px;
  margin: 0 auto;

}
