{% extends "base.html" %}
{% load staticfiles %}

<!--Variable Content -->
{% block content %}
<!--Nav Menu Begin-->

<div class=clearfix> 
    <div class="nav-menu-div">
        <ul>
            {% for abouts in about %}    
            <li class="nav-menu-li"><a href="{% url 'detail' abouts.id %}">{{ abouts.message_titled }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!--Nav Menu End-->
    <!--Nav Detail Start-->
    <div class="nav-detail">
        {{ aboutst.message_titled }}
        {{ aboutst.message_body|linebreaks }}
    </div>
    <!--Nav Detail End-->
</div>
{% endblock %}
<!--End of Variable Content -->


