{% extends "base.html" %}
{% load staticfiles %}

<!--Variable Content -->
{% block content %}
<!--Nav Menu Begin-->
<div class=clearfix> 
    <div class="nav-menu-div">
        <ul>
            {% for academics in academics %}    
            <li class="nav-menu-li"><a href="{% url 'adetail' academics.id %}">{{ academics.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!--Nav Menu End-->
    <!--Nav Detail Start-->
    <div class="nav-detail">
        {{ adetail.title }}
        {{ adetail.detail|linebreaks }}
    </div>
    <!--Nav Detail End-->
</div>
{% endblock %}
<!--End of Variable Content -->
</body>

</html>

