{% extends "base.html" %}
{% load staticfiles %}

<!--Variable Content -->
 {% block content %}
<div class="panel">
<table id="years" cellpadding="5" cellspacing="10">
</table>
</div>
<div class="panel" >
<table id="months" cellpadding="2" cellspacing="6"></table>
</div>

{% endblock %}
<script>
var year=20;
var m;
var month=['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec'];
/*
var date=new Date();
var cur_year=date.getFullYear();
var cur_month=date.getMonth();*/

function start()
{
var b="<tr><td><a href=2004 onMouseOver=get_months(2004)>2004</a></td></tr>";
for(var i=5;i<=14;i++)
{
if(i<10)
i="0"+i;
b+="<tr><td><a href=20"+i+" onMouseOver=get_months(20"+i+")>20"+i+"</a></td></tr>";
}
document.getElementById("years").innerHTML=b;
}

function get_months(y)
{

var a="<tr><td align=center><h3>"+y+"</h3></td></tr>";
for(var i=0;i<12;i++)

a+="<tr><td><a href="+y+"/"+(i+1)+">"+month[i]+"</a></td></tr>";
document.getElementById("months").innerHTML=a;
}
</script>
<!--End of Variable Content -->
<!--FOOTER-->



</body>

</html>

