{% extends "base.html" %}
{% load staticfiles %}

<!--Variable Body -->
{% block content %}

<div class="slide-banner" id="slideshow" style="overflow: hidden;">
    {% for images in images %}
    <!-- loop -->
    <div class="banner-content">
        <a href="#">
            <img alt="Problem Loading" src="{{ media_root }}{{ images.images_in_cycle }}"/>
        </a>
    </div>
    {% endfor %}
    <!-- loop -->
</div>

<!--place for carosel -->

<div class="ln">
    <div class=header_ne>
        News
    </div>
    <ul class="ul_for_ne">
        <!--loop -->
        {% for news in news %}
        <li class="list_ne">
            <div class="news_date_space">{{news.date_time }}
            </div>| {{ news.caption }}
        </li>
        {% endfor %}
        <!--loop -->

    </ul>
    <a href = "/allnews"><div>Read All News</div></a>
</div>
<div class="re">
    <div class="header_ne">
        Events
    </div>
    <ul class="ul_for_ne">
        <!--loop -->
        {% for event in event %}
        <li class="list_ne">
            <div class="news_date_space">{{ event.date_time_updated }}</div>| {{ event.event_title }}
        </li>
        {% endfor %}
        <!--loop -->

    </ul>
    <a href="/allevents"><div>See All Events</div></a>
</div>



<div class="container_images">
    <div class="header_ne">Gateways</div>
    <img class="img" src="{% static 'assets1/1.png' %}" width="80" height="80" ></img>
    <img class="img" src="{% static 'assets1/2.png' %}" width="80" height="80" ></img>
    <img class="img" src="{% static 'assets1/3.png' %}" width="80" height="80" ></img>
    <img class="img" src="{% static 'assets1/4.png' %}" width="80" height="80" ></img>
    <img class="img" src="{% static 'assets1/5.png' %}" width="80" height="80" ></img>
    <img class="img" src="{% static 'assets1/6.png' %}" width="80" height="80" ></img>
    <img class="img" src="{% static 'assets1/7.png' %}" width="80" height="80" ></img>
    <img class="img" src="{% static 'assets1/1.png' %}" width="80" height="80" ></img>
</div>

<div class="top_stories">
    <div class="header_ne">Top Stories..</div>
    <div class="story"><img src="{{ media_root }}media/1.jpg"></img><p>UChicago among finalists to host Barack Obama Presidential Library</p></div>
    <div class="story"><img src="{{ media_root }}media/2.jpg"></img><p>UChicago among finalists to host Barack Obama Presidential Library</p></div>
    <div class="story"><img src="{{ media_root }}media/3.jpg"></img><p>UChicago among finalists to host Barack Obama Presidential Library</p></div>
</div>
<div class="aff"><img src="{% static 'assets1/aff.jpg' %}" width="1100px" height="auto"></div>
<div class="rec"><img src="{% static 'assets1/rec.gif' %}" width="1100px" height="100px"></div>

</div>
<!--End of Variable Body-->
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/cycle.js"></script>
<script>
$(function() {$('#slideshow').cycle({fx:'scrollHorz',timeout: 3000,prev:'#prev',next:'#next'});});
</script>
{% endblock scripts %}



